.konten{
	background:url(jadi/1b.png);
	width: 100%;
	height: auto;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.judul{
	margin-top: 5%;
	background-color: #ffb400;
	height: 10vh;
	margin-left: 5%;
	width: 90%;
	border-radius: 3vh;
	font-family: cursive;
}
.tabel{
	margin-top: 5%;
	background-color: #eeff35;
	text-align: center;
	margin-left: 5%;
	width: 90%;
	border: 2px solid white;
}
.beli {
	margin-right: 3%;
}
.tabel tr td img{
	width: 70%;
}
.form{
	margin-top: 5%;
	margin-left: 25%;
}