.header{
	height: 102vh;
	width: 100%;
	background-image: url(jadi/images.png);
	background-attachment: fixed;
	z-index: 0;	
}
.header h1{
	padding-top: 35vh;
	text-align: center;
	color: white;
	text-
}
.navbar-brand{
	padding-top: 10px;
}
.slider{
height: 102vh !important;
padding-top: 15%;
margin-bottom: -1vh;
width: 100%;
padding-left: 5%;
}
.carousel-inner{
	height: 100%;
	margin-bottom: 0;
	width: 100%;
}
.thumbnail{
	background-color: rgba(255,255,255,0.3);
	border-color: rgba(255,255,255,0.2);
}
.thumbnail a img{
	height: 30vh;
	opacity: 1;
}
.teater{
	height: 80vh !important;
	margin: 0;
	width: 100%;
	background-image: url(jadi/Untitled-1.png);
	z-index: 1;
}
.teater h1{
	padding-top: -10vh;
	padding-left: 40%;
	color: white;
	border-radius: 0;
}
.play{
	background-image: url(jadi/play.png);
	height: 80vh;
	width: 100%;
	margin: 0;
	z-index: 0;
	background-attachment: fixed;
}
.teater h2{
	padding-left: 40%;
	color: white;
	border-radius: 0;	
}
.support{
	height: 60vh;
	margin: 0;
	width: 100%;
	background-color: white;
	z-index: 0;	
	background-attachment: fixed;
}
.logo{
	height: 100%;
	padding-top: 20vh;
}
.location{
	height: 90vh !important;
	margin: 0;
	width: 100%;
	background-image: url(jadi/loc.png);
	z-index: 1;
	padding-left: 50vh;
}
.location h1{
	padding-left: 35vh;
}
.footer{
	padding-top: 10vh;
	height: 40vh;
	width: 100%;
	margin: 0;
	z-index: 0;
	background-attachment: fixed;
	background-color: black;
	color: white;
}
.footer address{
	font-size: 20px;
}
.footer ul li{
	padding-bottom: 1vh;
	font-size: 20px;
}